


.swiper {
  width: 70%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 300px;
  height: 300px;
}
.SliderTextFirst{
font-size: 3.4rem;
  color: #fff;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 8px;
}
.SliderTextSecond{
font-size: 6rem;
  color: #fff;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.SliderTextSecond span{
    color: #9e9999;
}
.SliderTextDescription{
  font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 10px;
}
.SliderButton{
  width: 130px;
  height: 50px;
  background-color: #9e9999;
   color: white;
   margin-top: 20px;
   font-size: 18px;
   border: none;
}